@page
@model IndexModel
@{
    ViewData["Title"] = "Development Demos";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Learning with Nishit Gupta</p>
</div>
